.App {
}
.faq-body {
  margin: 1rem;
}

/* 
Google font overrides
*/
.g-bold {
  font-weight: 700;
}
.g-italic {
  font-style: italic;
}
.g-underline {
  text-decoration: underline;
}
.question {
  text-align: left;
}
ul {
  list-style: none;
}
